/* Variables */

$color-one: #ffa502;
$color-two: #f1f2f6;
$color-three: #fff;

$font-one: 'Open Sans', sans-serif;
$font-two: 'Pacifico', cursive;

/* Global */

*
, *::before
, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-one;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    text-align: center;
}

.short-text {
    color: #636e72;
    font-style: italic;
}

h2 {
    font-size: 40px; 
    margin: 0;
}

h2 + p {
    margin-top: 0;
}

/* Nav & Header*/

.brand {
    font-family: $font-two;
}

.ontop {
    max-height: 100vh;
    background-image: url("/images/header.jpg");
    background-position: center center;
    background-size: cover;
    color: $color-three;
}

.row {
    width: 100%;
    padding-top: 50px;
    font-size: 20px;
}

nav .col-4 {
    padding-left: 150px;
    color: $color-one;
}

.col-8 {
    padding-left: 150px;
    text-transform: uppercase;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin: 0 36px 0 0;
}

nav li:hover {
    color:$color-one;
}

nav a {
    padding-left: 15px;
    font-weight: bold;
}

.splash {
    min-height: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;   
    max-width: 70%;
    text-align: center;
}

.splash h1 {
    text-transform: uppercase;
    font-size: 42px;
}

.splash h2 {
    font-style: italic;
    font-size: 36px;
}

.btn {
    display: inline-block;
    min-width: 250px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-width: 2px;
    border-style: none;
    background-color: $color-one;
    text-transform: uppercase;
    font-style: bold;
}

/* Services */

.services {
    margin: 96px auto;
}

.description {
    color: #636e72;
    font-size: 16px;
}

.services i {
    font-size: 36px;
    background: inherit;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: $color-one;
    border-style: solid;
    border-radius: 50%;
    border-color: $color-one;
    border-width: 3px;
}

/* Our portfolio */

.portfolio {
    padding: 108px 0;   
    margin: 0;
    background-color: $color-two; 
}

.portfolio .card {
    padding: 0 30px;
}

.card img {
    width: 100%;
}

.box {
    background-color: $color-three;
}

.box h4 {
    margin: 0;
}

.box p {
    margin: 0;
    padding-bottom: 15px;
}

/* Footer */

.footer i {
    font-size: 18px;
    background: #000;
    width: 40px;
    height: 40px;
    color: $color-three;
    border-radius: 50%;
    line-height: 40px;
}

.footer li {
    font-size: 0;   
    display: inline;
}

.footer p {
    font-size: 16px;
    margin: 20px 0;
}

.footer .row {
    padding: 30px 0;
}


@media (max-width: 975px) {

    nav a {
        font-size: 16px;
    }

    .card {
        padding-bottom: 20px;
    }

    .box {
        margin-bottom: 30px;
    }

    .footer p {
        font-size: 12px;
    }

    .footer i {
        font-size: 12px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
}